.header {
    position: fixed; /* Фиксируем меню сверху */
    top: 0;
    left: 0;
    width: 100%; /* На всю ширину */
    z-index: 1000; /* Чтобы меню было сверху всех элементов */
    background-color: rgba(255, 255, 255, 0.8); /* Белый фон с прозрачностью 80% */
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для лучшего визуального восприятия */
    height: 56px; /* Высота меню */
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px; /* Убедитесь, что это значение совпадает с высотой меню */
}

.link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
    }
}